In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
crime_dataset = pd.read_csv("./US_Crime_Rate_2016.csv")
crime_dataset.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape1,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson2
0,New York,NaN,"47,821",319.0,"2,770","13,396","31,336","122,299","9,846","106,931","5,522",0
1,Los Angeles,NaN,"29,400",258.0,"2,274","9,652","17,216","95,704","13,809","66,253","15,642","1,672"
2,Chicago,"2,707,064","25,532",492.0,"1,761","7,983","15,296","80,742","9,578","62,083","9,081",416
3,Houston,"2,355,606","25,257",275.0,"1,249","9,147","14,586","101,750","17,038","71,614","13,098",485
4,Detroit,"663,502","13,040",275.0,952,"2,346","9,467","28,550","6,820","14,844","6,886",789

In [3]:
crime_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8105 entries, 0 to 8104
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   City                                  8105 non-null   object
 1   Population                            8101 non-null   object
 2   Violent crime                         8084 non-null   object
 3   Murder and nonnegligent manslaughter  8102 non-null   float64
 4   Rape1                                 8090 non-null   object
 5   Robbery                               8104 non-null   object
 6   Aggravated assault                    8103 non-null   object
 7   Property crime                        8082 non-null   object
 8   Burglary                              8092 non-null   object
 9   Larceny-theft                         8098 non-null   object
 10  Motor vehicle theft                   8102 non-null   object
 11  Arson2                                7980 non-null   object
dtypes: float64(1), object(11)
memory usage: 760.0+ KB

In [4]:
crime_dataset.dropna(inplace=True)

In [5]:
crime_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7936 entries, 2 to 8083
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   City                                  7936 non-null   object
 1   Population                            7936 non-null   object
 2   Violent crime                         7936 non-null   object
 3   Murder and nonnegligent manslaughter  7936 non-null   float64
 4   Rape1                                 7936 non-null   object
 5   Robbery                               7936 non-null   object
 6   Aggravated assault                    7936 non-null   object
 7   Property crime                        7936 non-null   object
 8   Burglary                              7936 non-null   object
 9   Larceny-theft                         7936 non-null   object
 10  Motor vehicle theft                   7936 non-null   object
 11  Arson2                                7936 non-null   object
dtypes: float64(1), object(11)
memory usage: 806.0+ KB

In [16]:
df = crime_dataset[["Murder and nonnegligent manslaughter", "Rape1", "Robbery", "Aggravat assault","Property crime","Burglary","Larceny-theft","Motor vehicle theft","Arson2"]]

SyntaxError: '[' was never closed (2725439973.py, line 1)

In [12]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape1,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson2
3,Houston,"2,355,606","25,257",275.0,"1,249","9,147","14,586","101,750","17,038","71,614","13,098",485
4,Detroit,"663,502","13,040",275.0,952,"2,346","9,467","28,550","6,820","14,844","6,886",789
5,Memphis,"650,410","12,367",190.0,468,"2,432","9,277","39,860","7,833","27,981","4,046",336
6,Phoenix,"1,688,722","11,803",131.0,"1,139","3,197","7,336","55,974","9,471","39,427","7,076",201
7,Dallas,"1,363,295","11,764",198.0,797,"4,400","6,369","45,279","9,210","25,812","10,257",144

In [7]:
normalized_crime_dataset=(crime_dataset-crime_dataset.min())/(crime_dataset.max()-crime_dataset.min())

TypeError: unsupported operand type(s) for -: 'str' and 'str'